@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center mt-5">
    <h1 class="display-4">IntelliOps AI</h1>

    <p class="lead">
        AI-Powered Workforce Intelligence Dashboard
    </p>

    <hr />

    <p>
        Smart enterprise workflow analytics system built using ASP.NET Core.
    </p>
</div>
